.@{prefixName}-loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: 10000;
    overflow: hidden;
    .@{prefixName}-spinner {
        width: 52px;
        height: 52px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -26px 0 0 -26px;
        color: red;
        text-align: center;
        line-height: 60px;
        font-size: 28px;
        border-radius: 50%;
        background-color: white;
        &:after {
            position: absolute;
            content: ' ';
            top: 50%;
            left: 50%;
            width: 52px;
            height: 52px;
            margin-left: -26px;
            margin-top: -26px;
            border: 2px solid rgba(0, 0, 0, 0.15);
            border-radius: 50%;

            border-color: #e50012 transparent transparent transparent;
            -webkit-animation: loading 1.2s linear infinite;
            animation: loading 1.2s linear infinite;
        }
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(45deg);
    }
    75% {
        -webkit-transform: rotate(315deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
